#mainBoard{
      width: 600px;
      height: 750px;
      margin: auto;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-style: solid;
      background-color:bisque;
}
#p1{
      margin: 0px;
}

#snakeBoard{
      background-color: aliceblue;
}
